body{
	font-family: 'Source code pro', Calibri, serif;
	margin: 0px;
	padding: 0px;
}/*reset css des marges intérieures et extérieures*/ 
nav{
	width: 100%;
	background-color: #424558;
}
nav > ul{
	margin: 0px;
	padding: 0px;
	}/*cibler les élément ul qui sont des enfants directe de notre élément nav */
nav > ul::after{
	content: "";
	display: block;
	clear: both;
}
nav > ul > li> a{
	padding: 20px 30px;
	color: #FFF;
} 
nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}
nav > ul > li{
	float: left;
	position: relative;
}/*bech n7otouhom bjnab b3adh'hom */	
nav li{
list-style-type: none;
}
.sousliste{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
nav li:hover .sousliste{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
.sousliste li{
	border-bottom: 1px solid #CCC ;
}
.sousliste li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}
.menu_html:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228, 77, 38, 0.15);
}
.menu_css:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000, 112, 192, 0.15);
}
.menu_javascript:hover{
	border-top: 5px solid #f1dc4f;
	background-color: RGBa(241, 211, 79, 0.15);
}
.menu_contact:hover{
	border-top: 5px solid #BBB;
	background-color: RGBa(220, 220, 220, 0.15);
}
.menu_html .sousliste{
	background-color: RGB(230, 100, 40);
}
.menu_css .sousliste{
	background-color: RGB(000, 160, 240);
}
.menu_javascript .sousliste{
	background-color: RGB(250, 215, 100);
}
.sousliste li:hover a{
	color: #EEE;
	font-weight: bold;
}
.menu_html .sousliste li:hover{
	background-color: RGB(210, 77, 60);
}
.menu_css .sousliste li:hover{
	background-color: RGB(000, 115, 200);
}
.menu_javascript .sousliste li:hover{
	background-color: RGB(200, 165, 75);
}